<!DOCTYPE html>
<html>

  <head>
    <title>IBM Code Challenge</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="static/images/newapp-icon.png">
        <td>
            <h1>Welcome to the IBM Code Challenge Tracker!</h1>
            <p>
                <b>Completed journeys:</b> {{ journeys }} <br>
                <b>Completed how-tos:</b> {{ howtos }} <br>
            </p>
            <p>
                Source code: <a href="https://github.com/stevemart/ibmcodechallengetracker">https://github.com/stevemart/ibmcodechallengetracker</a>
            </p>
    </table>
  </body>

</html>
